body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;

}
.f-s-13{
  font-size: 13px;
}
.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

h2, h3 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="url"],
input[type="password"],
textarea {
    width: 100%;
    padding: 8px 0 8px 0;
    border: 1px solid #ddd;
    border-radius: 2px;
}

textarea {
    height: 100px;
}

button {
    padding: 10px 20px;
    background: #286ba78f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #094985;
}

.error {
    color: red;
    margin-bottom: 15px;
}

.success {
    color: green;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #f8f9fa;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.abutton {
    padding: 10px 20px;
    background: #bb25258f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: inline-end;
    text-decoration: none;
}
.abutton:hover
{
    background: #f12626c7;
    color: white;
    text-decoration: none;
}

.clink2 {
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}